<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GemYellowMinions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1A9DC01D66B70A00143CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1A9DD91D66B70A00143CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1A9DE41D66B70A00143CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
